.ui-helper-hidden-accessible{display:none}
ul.ui-autocomplete {
    padding: 0px;
}
ul.ui-autocomplete .ui-state-focus {
    background: #2284a1;
    color: white;
}
#chart {
    height: 100%;
}
svg {
    shape-rendering: auto;
    height: 100%;
    width: 100%;
}

.node .label-bkg {
    stroke-width: 1.5px;
    stroke: #333;
    fill: #287B7B;
}

.node.coll > .label > rect {
    stroke-dasharray: 3.5, 10;
    fill: none;
}
.node .label-content text {
    fill: white;
    text-rendering: optimize-legibility;
    font-weight: bold;
}

.node.rank-0 .label-bkg {
    fill: #364F89;
}
.node.rank-1 > .label > rect {
    fill: #2D5353;
}
.node.direct .label-bkg {
    fill: #084343;
    opacity: 1;
}
.node.nonebelow > .label > rect {
    opacity: 0.8;
    stroke-dasharray: 3.5, 10;
}
.node.filtered > .label > rect {
    fill: #35A435;
}
.edge.filtered path {
    stroke: #35A435;
}
.node.filtered > .label > rect,
.edge.filtered path {
    filter: url(#glow);
}

.edge rect {
    fill: #fff;
}

.edge path {
    fill: none;
    stroke: #333;
    stroke-width: 1.5px;
}
.edge.regulates path {
    stroke-dasharray: 3.5, 10;
}
.edge.part-of path {
    stroke-dasharray: 15, 10, 5, 10;
}
form.settings {
    padding: 20px;
}
#chart {
    border-right: 1px solid #e2e2e2;
}

.settings section .content {
    max-height: 350px;
    overflow-y: auto;
}
body, body > .row {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
body {
    height: 600px;
}
@media (min-width: 1000px) {
    body {
        height: 100%;
        position: fixed;
    }
}

.controls {
    padding-top: 20px;
}
.controls select:focus {
    box-shadow: 0 0 10px #1F8DE6;
}
.controls .root-term .title > a.current-root {
    background: rgb(155, 188, 214);
}
.controls .sub-terms .content {
    width: 100%;
    overflow-y: auto;
    max-height: 450px;
}
.controls .root-term .title.active {
    background: #008CBA;
    color: #ffffff;
}
.controls .accordion dl.tabs {
    width: 100%;
}
.controls .accordion .tabs dd {
    width: 50%;
}
.controls .accordion .tabs dd a {
    padding: 0.5rem;
}
.controls .tabs dd.active a {
    background-color: rgb(0, 140, 170);
    color: #ffffff;
}
.sub-terms label .detail {
    float: right;
    position: relative;
    display: block;
    font-size: 0.8em;
    font-style: italic;
}
.sub-terms label input {
    margin-bottom: 0;
}
.sub-terms .tabs-content {
    margin-top: 2px;
    margin-bottom: 2px;
}
.high-level-term, .low-level-term {
    padding: 5px 1em;
    margin-bottom: 0.1rem;
    border-bottom: 1px solid #E2E2E2;
}
.high-level-term:hover, .low-level-term:hover {
    background: #e2e2e2;
}

